@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/IBMPlexSans-Medium_b5R0Ud-ldwnx3wFW07q6g.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/IBMPlexSans-LightItalic_4V6DSAoMjpxE0tcgOq9yy.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/IBMPlexSans-SemiBoldItalic_7tNZNAyeo0K2FJUn1bk2i.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/IBMPlexSans-Light_MsA9WPTSJCQkkoXRHR66c.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/assets/Handjet-Thin_Jl20a-uTO-zF8jJQZZTL3.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/IBMPlexSans-SemiBold_ToXcud8ADaDqlD6iZjyVm.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/assets/IBMPlexSans-Thin_bSRDZdH7bzv5A5Pwxa_-W.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/Handjet-ExtraBold_T2LK7c7Vd51tdutCAEhie.ttf) format("truetype"), url(/assets/Handjet-Bold_ZCuHlXxNQ0jkQ3OKQr45f.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/Handjet-Light_yKrFMtoLrA22uG_c2vfx5.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/IBMPlexSans-Regular_VSuTZxie1IerIGlN8iNFg.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/assets/IBMPlexSans-ExtraLightItalic_wzruKt5T28-Hoa77S_RK9.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/Handjet-Regular_GXv-VgMBAsky7DP5p8Zbo.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/Handjet-Medium_zQmPUwQ9gT7REJL6XNQHg.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/assets/IBMPlexSans-ThinItalic_XCw14AFzZQjdtqau9HslS.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/IBMPlexSans-MediumItalic_dybLWSymcpE1wMSS1f8ig.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/IBMPlexSans-Bold_571HEBFIYK4y2FAW5bjaQ.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/Handjet-Black_jXcCTjvzoBsO9BalGV2RN.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/Handjet-SemiBold_RqbV5vFvJK0CPeS-jK2Xz.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/assets/IBMPlexSans-ExtraLight_R-HP1Q4T7FGDfkpQc5kDH.ttf) format("truetype")
}

@font-face {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/IBMPlexSans-BoldItalic_Mma4KIHU0XozfzO926vx9.ttf) format("truetype")
}

@font-face {
    font-family: Handjet;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/assets/Handjet-ExtraLight_bcSu0YXgTZH6_gj1ZPhNq.ttf) format("truetype")
}

@layer presets {
    :root {
        display: grid;
        min-height: 100%;
        font-family: Arial, Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.2;
        white-space: pre-wrap;
        white-space-collapse: preserve
    }

    a.w-element {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    body.w-element {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0
    }

    button.w-element {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        text-transform: none;
        margin: 0
    }

    div.w-element,
    h1.w-element,
    h2.w-element {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    hr.w-element {
        height: 0;
        color: inherit;
        box-sizing: border-box
    }

    li.w-element,
    ol.w-element,
    p.w-element,
    ul.w-element,
    div.w-collapsible,
    div.w-collapsible-content {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    button.w-button {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        text-transform: none;
        margin: 0
    }

    img.w-image {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px;
        max-width: 100%;
        display: block;
        height: auto
    }

    div.w-html-embed {
        display: contents;
        white-space: normal;
        white-space-collapse: collapse
    }

    div.w-vimeo {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    img.w-preview-image {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px;
        max-width: 100%;
        display: block;
        height: auto
    }

    div.w-spinner {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    button.w-play-button {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        text-transform: none;
        margin: 0
    }

    div.w-navigation-menu,
    div.w-menu-list,
    div.w-menu-item {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    div.w-text {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px;
        min-height: 1em
    }

    div.w-box,
    div.w-menu-content {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }

    a.w-link {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px;
        display: inline-block
    }

    p.w-paragraph,
    div.w-menu-viewport {
        box-sizing: border-box;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        outline-width: 1px
    }
}

@media all {
    .ctvgexm {
        display: flex
    }

    .c18e7at6 {
        justify-content: center
    }

    .c52fsf {
        align-items: center
    }

    .c1c0gnww {
        background-color: #fff
    }

    .c1vbog6s {
        position: relative
    }

    .cq5f246 {
        text-align: center
    }

    .c1dcgom8 {
        font-weight: 900
    }

    .ciavm5p {
        font-size: 8rem
    }

    .c1wcy9b {
        line-height: 1
    }

    .c376mfp {
        letter-spacing: -.05em
    }

    .cgc7ibe {
        position: absolute
    }

    .c1ci9j3u {
        top: 0
    }

    .c13n3vb4 {
        right: -.125rem
    }

    .chbtsnc {
        bottom: 0
    }

    .ctnexay {
        left: .125rem
    }

    .cpki92a {
        opacity: .3
    }

    .c1iupkgk {
        right: .125rem
    }

    .cw6oguh {
        left: -.125rem
    }

    .c1b645vh {
        top: 50%
    }

    .c148plj7 {
        left: 0
    }

    .cs2bhim {
        width: 100%
    }

    .csuunxn {
        height: .375rem
    }

    .c1pi82nd {
        margin-top: 1.5rem
    }

    .clack62 {
        font-weight: 700
    }

    .c5gr5n0 {
        font-size: 1.5rem
    }

    .cbpnz3t {
        line-height: 2rem
    }

    .c10obqfy {
        letter-spacing: .05em
    }

    .c1do3cc7 {
        display: inline-flex
    }

    .cyjo710 {
        row-gap: 6px
    }

    .c1j5ff1l {
        column-gap: 6px
    }

    .ca36w29 {
        position: fixed
    }

    .cu85rc1 {
        z-index: 1000
    }

    .cw6kjli {
        padding-top: 6px
    }

    .c1bn57ev {
        padding-right: 10px
    }

    .c1c193de {
        padding-bottom: 6px
    }

    .c1eoleqb {
        padding-left: 10px
    }

    .cwhjtax {
        right: 16px
    }

    .c11mdyy2 {
        bottom: 16px
    }

    .cvuoshb {
        color: #fbfcfd
    }

    .cwoz0px {
        font-family: system-ui, sans-serif
    }

    .cnt5pym {
        font-size: 12px
    }

    .c1tf86d3 {
        font-weight: 500
    }

    .c18f9xe0 {
        border-top-left-radius: 9px
    }

    .cwzxcba {
        border-top-right-radius: 9px
    }

    .c1mvwooa {
        border-bottom-right-radius: 9px
    }

    .c1m1msf6 {
        border-bottom-left-radius: 9px
    }

    .c1c96wxg {
        text-decoration-line: none
    }

    .c3ywjpq {
        -webkit-background-clip: padding-box, border-box;
        background-clip: padding-box, border-box
    }

    .cszgcuq {
        background-origin: padding-box, border-box
    }

    .c1bt0aok {
        background-image: linear-gradient(135deg, #4a4efa, #bd2fdb 66%, #ec59ce), linear-gradient(135deg, #92fddc, #7d7ffb 31.94%, #ed72fe 64.24%, #fdd791)
    }

    .c1a8hp75 {
        border: 1px solid transparent
    }

    .c1fhymba {
        white-space: nowrap
    }

    .co8hsa {
        display: block
    }

    .c1yki51y {
        width: 16px
    }

    .cr796x {
        height: 16px
    }

    .cjinoza {
        flex-shrink: 0
    }

    :root {
        max-height: unset;
        max-width: unset;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-height: auto;
        margin: 0;
        padding: 0
    }

    .ccz981h {
        position: static
    }

    .c2wta0k {
        max-width: none
    }

    .c9tsx3f {
        max-height: none
    }

    .c1gj2frx {
        overflow-x: visible
    }

    .c1fbkaf7 {
        overflow-y: visible
    }

    .c11swa1z {
        height: 95vh
    }

    .ci697lq {
        width: 80vw
    }

    .cngogyz {
        height: auto
    }

    .c1wprmna {
        font-family: Handjet, sans-serif
    }

    .c3l3u5z {
        font-size: 4rem
    }

    .c1xqpb6n {
        margin-bottom: 0
    }

    .cjys8po {
        margin-top: 0
    }

    .c1lo227r {
        max-width: 33rem
    }

    .cxw20ka {
        font-family: IBM Plex Sans, sans-serif
    }

    .chtmn0i {
        font-weight: 400
    }

    .c12cez8l {
        font-size: 1.125rem
    }

    .chxe9pk {
        width: auto
    }

    .c1f53i0e {
        padding-bottom: .5rem
    }

    .ccqann8 {
        padding-top: .1rem
    }

    .ca8cu30 {
        color: gray
    }

    .c1xd8ibv {
        border-top-style: none
    }

    .c1sfm9r2 {
        border-right-style: none
    }

    .cbgzr4w {
        border-bottom-style: solid
    }

    .c1m4cif7 {
        border-left-style: none
    }

    .cvzjkai {
        justify-content: start
    }

    .c1kultwp {
        padding-top: .3rem
    }

    .c1rittj5 {
        padding-bottom: .3rem
    }

    .c1ihyn9a {
        column-gap: .4rem
    }

    .cu8nuqz {
        width: 1.5rem
    }

    .cckd21z {
        border-top-width: 100px
    }

    .cznpm7u {
        border-right-width: 100px
    }

    .c2dss0o {
        border-left-width: 100px
    }

    .ctn7851 {
        border-bottom-width: 100px
    }

    .c1dm6apj {
        height: 65svh
    }

    .c1xoetlb {
        flex-direction: column
    }

    .c10bb068 {
        width: 26%
    }

    .c1aknnxw {
        padding-left: .7rem
    }

    .c62cshr {
        border-right-style: solid
    }

    .ce2pnup {
        border-right-color: #000
    }

    .cs61n1q {
        margin-top: 1rem
    }

    .c1c34mt9 {
        margin-bottom: 1rem
    }

    .c35gjkg {
        border-top: 0px solid rgba(0, 0, 0, 1)
    }

    .ci9s5uk {
        border-bottom: 0px solid rgba(0, 0, 0, 1)
    }

    .c1rsr4ky {
        border-left: 0px solid rgba(0, 0, 0, 1)
    }

    .c193ru8z {
        width: 74%
    }

    .c1oqtrmg {
        flex-wrap: wrap
    }

    .c1c6l4js {
        column-gap: 0rem
    }

    .czbusdn {
        row-gap: 2rem
    }

    .cn2jsrb {
        overflow-x: auto
    }

    .cnz3r65 {
        overflow-y: auto
    }

    .c103adc1 {
        padding-left: 1rem
    }

    .c1pa5y67 {
        padding-right: 1rem
    }

    .c1tv7cbv {
        padding-top: 0rem
    }

    .cuctwbk {
        padding-bottom: 0rem
    }

    .c1rmyx2o:hover {
        border-top-style: none
    }

    .c1dco77q:hover {
        border-right-style: none
    }

    .c1b86ng9:hover {
        border-left-style: none
    }

    .c1mk3b8j:hover {
        border-bottom-style: none
    }

    .c15cxnei:hover {
        font-style: normal
    }

    .c4xjd59:hover {
        font-weight: 400
    }

    .c129u3te:hover {
        text-decoration-line: underline
    }

    .cymuvnb {
        font-size: .85rem
    }

    .crzs6ir {
        color: #000
    }

    .c1jal26d {
        min-width: auto
    }

    .c1njbf83 {
        width: 50%
    }

    .c1r3oa8j {
        align-self: auto
    }

    .c1vwsjf6 {
        order: 0
    }

    .cx0f59y {
        padding-left: 1em
    }

    .c5l28e6 {
        padding-right: 1em
    }

    .ciw8pr7 {
        aspect-ratio: auto
    }

    .cy48wqx {
        flex-grow: 0
    }

    .cypg6g {
        flex-shrink: 1
    }

    .chebdwc {
        padding-left: 0
    }

    .ckmr0tl {
        padding-top: .7rem
    }

    .c1gwudxv {
        padding-top: .5rem
    }

    .cbt4qrs {
        height: 100%
    }

    .cc2qs8b {
        overflow-x: clip
    }

    .cl3ns48 {
        overflow-y: clip
    }

    .cjp3mpr {
        padding-bottom: 1svh
    }

    .cg1jhw6 {
        padding-left: 5svw
    }

    .coa7nre {
        padding-right: 5svw
    }

    .c1k3yway {
        padding-top: 1svh
    }

    .c1x01pqp {
        -webkit-font-smoothing: antialiased
    }

    .climx14 {
        z-index: auto
    }

    .cdd53j1 {
        margin: 0
    }

    .cs79oaf {
        max-width: max-content
    }

    .c1ufqsi5 {
        flex-grow: 1
    }

    .cfjk0v4 {
        flex-basis: 0
    }

    .c9xqv11 {
        list-style-type: none
    }

    .c1jdbiwf {
        row-gap: .25rem
    }

    .chy6bb {
        column-gap: .25rem
    }

    .cwf8g7n {
        padding: 0
    }

    .c7w80o {
        background-color: transparent
    }

    .c1ovmdgh {
        border-top-left-radius: .375rem
    }

    .c1lglzs6 {
        border-top-right-radius: .375rem
    }

    .cvo8gcd {
        border-bottom-right-radius: .375rem
    }

    .c1nqf3q8 {
        border-bottom-left-radius: .375rem
    }

    .cjx2mb4 {
        font-size: .875rem
    }

    .c1dmkqu4 {
        line-height: 1.25rem
    }

    .coa2bm6 {
        height: 2.25rem
    }

    .ctf8h97 {
        padding-top: 0
    }

    .c354agt {
        padding-right: .75rem
    }

    .c1nfaoyj {
        padding-bottom: 0
    }

    .c17pkguj {
        padding-left: .75rem
    }

    .cvp4cyx {
        --navigation-menu-trigger-icon-transform: 0deg
    }

    .c6j8cnl {
        border: 0 solid rgba(226, 232, 240, 1)
    }

    .cc876x6:focus-visible {
        outline-offset: 2px
    }

    .cp330f8:focus-visible {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #94a3b8
    }

    .c1jgfqsi:focus-visible {
        outline: 2px solid transparent
    }

    .c190yq9y:disabled {
        pointer-events: none
    }

    .c1q5uz99:disabled {
        opacity: .5
    }

    .cb54dcz:hover {
        background-color: #f1f5f9
    }

    .c11prco5:hover {
        color: #0f172a
    }

    .cdp17zq[data-state=open] {
        --navigation-menu-trigger-icon-transform: 180deg
    }

    .c1qjyyfx {
        margin-left: .25rem
    }

    .c137ytbf {
        rotate: var(--navigation-menu-trigger-icon-transform)
    }

    .cn9rt3p {
        height: 1rem
    }

    .cyz0nb4 {
        width: 1rem
    }

    .c1q48hkg {
        transition-property: all
    }

    .c136acdz {
        transition-duration: .2s
    }

    .c770t3w {
        transition-timing-function: cubic-bezier(.4, 0, .2, 1)
    }

    .ci15cpp {
        transition-delay: 0s
    }

    .c1o1ifsb {
        transition-behavior: normal
    }

    .cv922fo {
        positon: absolute
    }

    .c1rh7kue {
        width: max-content
    }

    .c1is4a9v {
        padding: 1rem
    }

    .c1h7utvy {
        row-gap: 1rem
    }

    .c13irnvx {
        column-gap: 1rem
    }

    .cyamgar {
        padding: .5rem
    }

    .c1lnk4fe {
        background-color: #e2e8f0
    }

    .c1nj71b5 {
        width: 12rem
    }

    .c1is7shz {
        width: 16rem
    }

    .c1p22vln {
        color: inherit
    }

    .cz7pvn5 {
        -webkit-user-select: none;
        user-select: none
    }

    .c1x8vic {
        outline: medium none currentcolor
    }

    .c1ljsa6n {
        padding: .75rem
    }

    .cb4nupi:focus {
        background-color: #f1f5f9
    }

    .c16np2fa:focus {
        color: #0f172a
    }

    .cbbx2vb {
        overflow-x: hidden
    }

    .c1nadz68 {
        overflow-y: hidden
    }

    .cjeaoj4 {
        display: -webkit-box
    }

    .cjlfokp {
        -webkit-box-orient: vertical
    }

    .ctukc18 {
        -webkit-line-clamp: 2
    }

    .cnqa0sv {
        line-height: 1.375
    }

    .c1vjx6c7 {
        color: #64748b
    }

    .ckjfvtz {
        color: currentcolor
    }

    .cu4mpud {
        top: 100%
    }

    .c10m10ie {
        margin-top: .375rem
    }

    .c1infw7r {
        color: #020817
    }

    .c17rx3hs {
        box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a
    }

    .cfir6h0 {
        height: var(--radix-navigation-menu-viewport-height)
    }

    .c1mm8ox8 {
        width: var(--radix-navigation-menu-viewport-width)
    }

    .c5pdfkf {
        border: 1px solid rgba(226, 232, 240, 1)
    }

    .cvf7h35 {
        height: 100svh
    }

    .c1nhfi2n {
        width: 100svw
    }

    .c8nlnds {
        padding-top: env(safe-area-inset-top)
    }

    .c906ctc {
        padding-bottom: env(safe-area-inset-bottom)
    }

    .c66eaof {
        padding-left: env(safe-area-inset-left)
    }

    .corf3xb {
        padding-right: env(safe-area-inset-right)
    }

    .c1bpgvgr {
        width: 80svw
    }

    .c1bvdlik {
        height: 95svh
    }

    .c1wjw5vt {
        align-items: stretch
    }

    .c1fsetun {
        flex-wrap: nowrap
    }

    .c19eku7d {
        height: 1.5rem
    }

    .c15l494l {
        display: inline-block
    }

    .crvueue {
        font-style: normal
    }

    .ckyp6gg {
        border-bottom-style: none
    }

    .c1olmo77 {
        text-align: start
    }

    .c1frdrow {
        height: 1.6rem
    }

    .c1kvqt2n {
        line-height: 1.2
    }

    .c8tha1g {
        padding: 0
    }

    .c27ah8l:hover {
        font-style: italic
    }

    .c18zjibb:hover {
        font-weight: 600
    }

    .cbj1nfr {
        justify-content: space-between
    }

    .c1cuj88b {
        align-content: stretch
    }

    .cw4rru2 {
        row-gap: .2rem
    }

    .c4at4ep {
        column-gap: .2rem
    }

    .c1bmpcw:hover {
        font-weight: 500
    }

    .c1dsuapy {
        display: none
    }

    .c1m9j6im {
        z-index: 1
    }

    .coqefph {
        align-items: start
    }

    .c1blxar7 {
        column-gap: 2rem
    }

    .cj8o9br {
        width: 70%
    }

    .c10g8uo4 {
        font-size: 1rem
    }

    .c1c17xp0 {
        flex-direction: row
    }

    .c1i4eyf2 {
        row-gap: 0rem
    }

    .c6ug3je {
        padding-bottom: 1rem
    }

    .c4jc6p0 {
        width: 20%
    }

    .c15k80g1 {
        color: #8d8d8d
    }

    .c4rq71k {
        width: 75%
    }

    .co80h3o {
        align-items: end
    }

    .c14pg4nz {
        justify-content: end
    }

    .c10277ql {
        width: 30%
    }

    .cl8hdpi {
        width: 7%
    }

    .cq309yf {
        width: 60%
    }

    .c12vbk3b {
        z-index: 0
    }

    .c14ptqhx {
        align-self: flex-end
    }

    .c1yd4nl0 {
        border: 1px solid rgba(0, 0, 0, 1)
    }

    .cca6vu1 {
        border: 1px none rgba(0, 0, 0, 1)
    }

    .cfl6a9i {
        padding: 0rem
    }

    .c14xkfg1 {
        left: auto
    }

    .c135jucf {
        top: auto
    }

    .ckn93s {
        max-height: 95svh
    }

    .c167p09 {
        width: 60svw
    }

    .cfjt4w3 {
        max-width: 57svw
    }

    .c7s1avq {
        object-fit: fill
    }

    .c1tabkdx {
        z-index: 99
    }

    .c1sv6jxd {
        border-top-style: solid
    }

    .c1mq9var {
        border-left-style: solid
    }

    .c1ep6yqm {
        border-top-left-radius: 1rem
    }

    .c1bz9p6j {
        border-top-right-radius: 1rem
    }

    .c1xmn48p {
        border-bottom-left-radius: 1rem
    }

    .c10ijrdc {
        border-bottom-right-radius: 1rem
    }

    .c13iydkv {
        height: 5%
    }

    .c5pkmh9 {
        align-content: end
    }

    .c1gs9xcr {
        border-top-width: 0px
    }

    .cg154sq {
        border-right-width: 0px
    }

    .cq08ucb {
        border-left-width: 0px
    }

    .c19a58p0 {
        text-align: end
    }

    .cxciz2b {
        height: 95%
    }

    .clbytmn {
        padding-top: 1rem
    }

    .c14phsu7 {
        padding-right: .8rem
    }

    .c6y4axq {
        margin-bottom: 0rem
    }

    .c1srzbt6 {
        height: 12%
    }

    .c1g2n74w {
        max-width: 32rem
    }

    .c1x1holb {
        height: 88%
    }

    .c1izpbq {
        padding-right: 1.5rem
    }

    .cdr5tcx {
        margin-top: 0rem
    }

    .c1nr9ze0 {
        font-size: .8rem
    }

    .c1v6knr {
        padding-right: 0rem
    }

    .ci3iim6 {
        aspect-ratio: 640/360
    }

    .cgizsux {
        max-width: 100%
    }

    .c11jbntc {
        object-fit: cover
    }

    .cixkhtr {
        object-position: center
    }

    .cg2fb17 {
        left: 50%
    }

    .cvt95wi {
        width: 70px
    }

    .c1p8rnd6 {
        height: 70px
    }

    .c1veqvzh {
        margin-top: -35px
    }

    .c142ex28 {
        margin-left: -35px
    }

    .cvw22o9 {
        width: 105px
    }

    .cgnpp9b {
        height: 60px
    }

    .c1kflkhf {
        margin-top: -30px
    }

    .cbg0a65 {
        margin-left: -52.5px
    }

    .c1uwgjyi {
        border-top-left-radius: 5px
    }

    .cfsj7ah {
        border-top-right-radius: 5px
    }

    .c19fo34j {
        border-bottom-right-radius: 5px
    }

    .ca1tjlq {
        border-bottom-left-radius: 5px
    }

    .cnokrop {
        cursor: pointer
    }

    .ckjh8nx {
        background-color: #121212
    }

    .c1vgxrfm {
        color: #fff
    }

    .c18ec3rd:hover {
        background-color: #00adef
    }

    .c124fi5b {
        width: 40px
    }

    .cxjuuc7 {
        height: 40px
    }

    .c19xp7bh {
        color: #777
    }

    .ctpknen {
        width: 100rem
    }

    .c11kjb9r {
        border-top-color: #a1a1a1
    }

    .c3gr28w {
        border-right-color: #a1a1a1
    }

    .c1v25miq {
        border-bottom-color: #a1a1a1
    }

    .c5go0or {
        border-left-color: #a1a1a1
    }

    .c1hacvom {
        border-top-color: #848484
    }

    .c1plihhd {
        border-right-color: #848484
    }

    .czvorpf {
        border-bottom-color: #848484
    }

    .c1oi33ab {
        border-left-color: #848484
    }

    .c1la9xq {
        width: 35%
    }

    .c1p5lhxq {
        padding: .2rem
    }

    .c1ma1lu1 {
        width: 65%
    }

    .c1ncj0vk {
        font-family: Arial, Roboto, sans-serif
    }

    .c1a1d37c {
        list-style-type: circle
    }

    .c6k4lzl {
        padding-left: 3rem
    }

    .cc4uwta {
        row-gap: .8rem
    }

    .c4rc7wu {
        text-align: justify
    }

    .c1khzd0y {
        width: 33.33%
    }

    .c4f1acu {
        width: 33.333333333333336%
    }
}

@media all and (max-width: 991px) {
    .c7afa42 {
        font-size: 1.4rem
    }

    .c1nf6csv {
        font-weight: 500
    }

    .c9xiqsl {
        width: 30%
    }

    .c14s7ed4 {
        width: 70%
    }

    .c3n6x7v {
        padding-left: .7rem
    }

    .cr2bui5 {
        padding-right: .7rem
    }

    .c6huigg {
        padding-left: 4svw
    }

    .c1r7kwzd {
        padding-right: 4svw
    }

    .c625rce {
        font-size: .8rem
    }

    .cjla0fc {
        flex-direction: column
    }

    .ccdv3iv {
        align-items: start
    }

    .cdcv7rt {
        justify-content: start
    }

    .c1ikjnqq {
        width: 100%
    }

    .c9p2oaf {
        align-items: center
    }

    .c1p9gyzu {
        justify-content: end
    }

    .csfvi04 {
        flex-wrap: nowrap
    }

    .c1pqvpk {
        flex-direction: row
    }

    .cy8j9a9 {
        order: 0
    }

    .c1glstcu {
        display: block
    }

    .cam3ld8 {
        top: auto
    }

    .c1wbt3y9 {
        height: 95svh
    }

    .c10eqc65 {
        width: 75%
    }

    .cko3ex7 {
        justify-content: center
    }

    .cs8cfm {
        row-gap: 1rem
    }

    .c1bioefj {
        width: 50%
    }

    .cxmkkvp {
        align-self: center
    }

    .cmptk7k {
        align-self: flex-end
    }

    .cf8bnnu {
        flex-wrap: wrap
    }

    .c1fh10j1 {
        align-self: auto
    }
}

@media all and (max-width: 767px) {
    :root {
        align-items: center;
        justify-content: center;
        display: block
    }

    .c17yp3rg {
        position: relative
    }

    .c1291u08 {
        height: auto
    }

    .c131sgem {
        font-size: 3rem
    }

    .c125maa {
        font-size: 1rem
    }

    .c1q8z9m1 {
        font-size: 1.3rem
    }

    .c1w3brmp {
        flex-direction: column
    }

    .c5jcrk0 {
        width: 100%
    }

    .c1tr80ow {
        border-top-style: solid
    }

    .c1ilxd88 {
        border-right-style: solid
    }

    .c1syhrfc {
        border-left-style: solid
    }

    .cxx2av7 {
        border-bottom-style: solid
    }

    .c1xqujc2 {
        border-right-width: 0px
    }

    .c18kqla4 {
        border-bottom-width: 1px
    }

    .cwd4v0k {
        margin-bottom: 0rem
    }

    .c1svyuiw {
        padding-bottom: 1rem
    }

    .c1nrfdob {
        flex-wrap: nowrap
    }

    .ca0etkt {
        align-items: start
    }

    .c1nyg3xp {
        justify-content: center
    }

    .c1ef4gf6 {
        column-gap: 1rem
    }

    .c5hh3dd {
        row-gap: 1rem
    }

    .c1wewdlc {
        padding-right: .6rem
    }

    .cca6nev {
        flex-grow: 0
    }

    .cq4dpk2 {
        flex-shrink: 0
    }

    .c4q9jb3 {
        padding-left: .6rem
    }

    .clqdr99 {
        flex-wrap: wrap
    }

    .c1f8w4qw {
        align-items: center
    }

    .c11qq5eq {
        overflow-x: clip
    }

    .c1i5vdag {
        overflow-y: clip
    }

    .clj9coy {
        height: 90svh
    }

    .c16m0pfo {
        font-size: .9rem
    }

    .cjdd8le {
        display: none
    }

    .c160gk74 {
        display: inline-block
    }

    .c1lzhe0l {
        padding-left: 1rem
    }

    .c1ws43ao {
        align-self: auto
    }

    .c1atv3tl {
        flex-grow: 1
    }

    .cxi7e5y {
        padding-top: .5rem
    }

    .c1v0iudz {
        max-height: 90svh
    }

    .cpxib6a {
        top: auto
    }

    .c9guxup {
        left: auto
    }

    .ctd2oup {
        align-self: center
    }

    .cc3fpz9 {
        width: 80svw
    }

    .c1sehg9y {
        max-width: 80svw
    }

    .c1vro81c {
        top: -30vh
    }
}

@media all and (max-width: 479px) {
    .clo5kka {
        width: 100%
    }

    .ckxxovv {
        padding-left: 2svw
    }

    .c14eilop {
        padding-right: 2svw
    }

    .cdeivr8 {
        height: 92svh
    }

    .c1qtk1fs {
        padding-left: .5rem
    }

    .cis08fm {
        padding-right: .5rem
    }

    .cb2v586 {
        width: 85svw
    }

    .c1y13qtv {
        padding-left: 0rem
    }

    .c14aso2t {
        flex-direction: column
    }

    .cncx4v2 {
        display: none
    }

    .c1d8dupw {
        flex-wrap: nowrap
    }

    .cqojzz0 {
        align-self: flex-end
    }

    .c1ddbpno {
        left: auto
    }

    .c17bgw50 {
        align-self: center
    }

    .c1e1g1ni {
        top: auto
    }

    .c7s5jvj {
        max-width: 85svw
    }

    .c1v94k20 {
        max-height: 92svh
    }

    .cqutc68 {
        height: 12%
    }

    .c1e2fsgl {
        height: 18%
    }

    .c1lc8v03 {
        height: 82%
    }

    .c1wr11n2 {
        padding-left: 2rem
    }

    .c1nwd1z9 {
        -webkit-hyphens: manual;
        hyphens: manual
    }

    .c14pkti4 {
        flex-direction: row
    }

    .c1l42oza {
        width: 50%
    }

    .c9ke2tn {
        order: -1
    }

    .c14fafoy {
        width: 100rem
    }
}